{% extends "templates/_default.twig" %}

{% set pagename = "Login" %}

{% block content %}
    {% if flash.getMessage("errors") %}
        <p><b>Errors</b></p>
        <ul class="error-list">
            {% for key, message in flash.getMessage("errors").0 %}
                <li class="error-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ url_for("auth.login") }}" method="POST">

        <label for="email">E-mail address</label>
        <input type="text" name="email" id="email" placeholder="E-mail address">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        {% if config("plugins.turnstile.enabled") and route_requires_captcha(routeName) %}
            <div class="cf-turnstile" data-sitekey="{{ config("plugins.turnstile.public") }}" data-theme="light"></div>
        {% endif %}

        {{ csrf()|raw }}

        <br>
        <br>

        <input type="checkbox" id="remember" name="remember">
        <label for="remember">{{ config("lang.remember_me") }}</label>

        <br>
        <br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for("auth.register") }}">Register for one</a></p>
{% endblock %}

{% block scripts %}
    {% if config("plugins.turnstile.enabled") and route_requires_captcha(routeName) %}
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {% endif %}
{% endblock %}